*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

a{
    text-decoration: none;
}

main{
    margin-top: 100px;
    display: flex;
}

.container-produtos{
    height: 100vh;
    width: 65%;
    padding: 20px;
}

.container-informacoes{
    height: 100vh;
    width: 35%;
    padding: 20px;
}

.item-compra{
    margin-bottom: 20px;
    padding: 20px;
    height: 130px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(0, 88, 230, 0.35);
}

.imagem-produto{
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.container-desc-item{
    margin-left: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4{
        width: 15%;
        text-align: end;
    }
}

.container-info-produto{
    width: 40%;
}

.container-qtd-produto{
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone{
    height: 30px;
    width: 30px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 15px;
}

.container-calculo{
    background-color: rgba(125, 175, 255, 0.35);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.item-calculo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted;
}

.item-calculo p {
    margin-bottom: 5px;
}

.total{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.valor{
    text-align: end;
}

.container-calculo a p{
    margin-top: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(0, 88, 230);
    height: 70px;
    width: 100%;
    border-radius: 10px;
}

.carrinho-vazio{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 20px;

    a{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 88, 230);
        color: white;
        width: 400px;
        height: 150px;
        font-size: 30px;
        font-weight: bold;
        border-radius: 30px;
    }
}