#title {
  background-color: darkblue;
  color: white;
  text-align: center;
  size: 30px;
  height: 75px;
  width: 100%;
  font-size: 60px;
  font-family: fantasy;

  a {
    color: white;
  }
  a:link {
    text-decoration: none;
  }
}

nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: rgb(0, 88, 230);
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  height: 30px;
  width: 100%;
}
nav li {
  margin-right: 20px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
.menusTopo {
  a {
    color: white;
  }
}

body {
  margin: 0;
}

.main-content {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.contact-section {
  width: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-section h1 {
  color: darkblue;
  margin-bottom: 20px;
}

.contact-section label {
  display: block;
  text-align: left;
  font-weight: bold;
  color: darkblue;
  margin-bottom: 5px;
}

.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.contact-section button {
  padding: 10px 20px;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-section button:hover {
  background-color: #0056b3;
}

.contact-info {
  margin-top: 20px;
  color: darkblue;
  text-align: center;
}

.contact-info p {
  margin: 5px 0;
}
